<template>
    <div class="modal fade" tabindex="-1" id="addChartModal" role="dialog" aria-labelledby="addChartModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="addChartHeader">Add Chart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-group col-6 mx-auto">
            <label for="formDataType" class="mt-5">Choose Data</label>
            <select class="form-control" id="formDataType" v-model="graphData">
              <option>Asset Class Allocation</option>
              <option>Group Allocation</option>
              <option>Rating Allocation</option>
              <option>Industry Allocation</option>
            </select>

            <label for="formChartType" class="mt-5">Choose Chart Type</label>
            <select class="form-control" id="formChartType" v-model="graphType">
              <option>Funnel</option>
              <option>Pie Chart</option>
              <option>Donut Chart</option>
              <option>Bar Chart</option>
            </select>

            <label for="formDataSelection" class="mt-5">Choose What items to display</label>
            <select class="form-control" id="formDataSelection" v-model="graphEntries">
              <option>Top 10</option>
              <option>Top 5</option>
              <option>Lowest 10</option>
              <option>Lowest 5</option>
            </select>
            <button class="btn btn-primary mt-5" :disabled="graphData == '' || graphType == '' || graphEntries == ''" @click="addChart">Add Chart</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import $ from "jquery"

export default {
    name: "AddChartForm",
    data: () => ({
        graphData:"",
        graphType:"",
        graphEntries:"",
    }),

    methods:{
        addChart(){
            this.$emit('addchart',{
                data:this.graphData,
                type:this.graphType,
                entries:this.graphEntries
            });
            this.graphData = this.graphType = this.graphEntries = '';
            $('#addChartModal').modal('hide');
        }
    }
}
</script>