<template>
    <div class="container-fluid d-flex flex-column">
        <GridLayout
            :layout.sync="layout"
            :col-num="12"
            :row-height="60"
            :isResizable="false"
            class="w-100"
        >
            <grid-item v-for="item in layout"
                    :x="item.x"
                    :y="item.y"
                    :w="item.w"
                    :h="item.h"
                    :i="item.i"
                    :key="item.i">
                
                <Chart :item="item"/>
                
            </grid-item>

        </GridLayout>
        <button class="btn btn-primary mx-auto mt-5" data-toggle="modal" data-target="#addChartModal">Add Chart</button>
        <AddChartForm @addchart="addChart"/>
    </div>
</template>

<script>
import VueGridLayout from 'vue-grid-layout'
import Chart from "./Chart.vue"
import AddChartForm from "./AddChartForm.vue"

export default {
    name: "ChartGrid",
    data: () => ({
        layout:[],
        assetsData: [{"label":"GILTS","value":868686428},{"label":"FIXED DEPOSIT","value":1048500000},{"label":"MUTUAL FUND","value":1745588241},{"label":"BONDS","value":9033066541},{"label":"EQUITY","value":44517013511}],
        groupData: [{"label":"MAHINDRA & MAHINDRA GROUP","value":1992451772},{"label":"LARSEN & TOUBRO GROUP","value":1995786948},{"label":"NONE","value":2112759092},{"label":"AXIS BANK  GROUP","value":2425125902},{"label":"ICICI GROUP","value":3406082784},{"label":"ITC (F) GROUP","value":3845547466},{"label":"RELIANCE GROUP [MUKESH AMBANI]","value":4404948840},{"label":"INFOSYS TECHNOLOGIES  GROUP","value":4422264050},{"label":"HDFC GROUP","value":4673056856},{"label":"TATA GROUP","value":5812387697}],
        ratingData: [{"label":"LAA","value":307943572},{"label":"A1+","value":327057279},{"label":"LAAA","value":343599854},{"label":"AAA(IND)","value":358859727},{"label":"NONE","value":370285275},{"label":"SOVEREIGN GSEC","value":498401153},{"label":"MFA1+","value":525681845},{"label":"FAAA","value":1219906396},{"label":"P1+","value":1243423092},{"label":"AAA","value":5867317404}],
        industryData: [{"label":"MFG. OF JEEPS & STATION WAGONS","value":1286052313},{"label":"MFG.OF NON ALLOY STEEL HOT ROLLED FLAT PRODUCTS","value":1789580945},{"label":"MFG. OF ALLOPATHIC DRUGS & PHARMACEUTICALS","value":1977022225},{"label":"SPECIAL TRADE CONSTRUCTION","value":1995786948},{"label":"OTHER FINANCIAL INTERMEDIATION","value":2683943253},{"label":"MANUFACTURE OF CIGARETTE AND CIGARETTE TOBACCO","value":3845547466},{"label":"MFG OF OTHER PETROLEUM PRODUCTS","value":4110190021},{"label":"HOUSING FINANCE SERVICES","value":5358153860},{"label":"SOFTWARE CONSULTANCY AND SUPPLY","value":6795230972},{"label":"BANKING SERVICES","value":10282415561}],
        currRow: 0,
        cols: 0,
        i: 0
    }),
    components:{
        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem,
        Chart,
        AddChartForm
    },
    methods: {
        addChart(chart){
            
            let data;
            switch(chart.data){
                case "Group Allocation":
                    data = this.groupData;
                    break;
                case "Asset Class Allocation":
                    data = this.assetsData;
                    break;
                case "Rating Allocation":
                    data = this.ratingData;
                    break;
                case "Industry Allocation":
                    data = this.industryData;
            }

            this.layout.push({
                x:this.currRow,
                y:this.cols,
                w:4,
                h:4,
                i:this.i,
                data:data,
                type: chart.type,
                entries: chart.entries,
                title:chart.data
            });

            this.currRow = (this.currRow + 4) % 12;

            if(this.i != 0 && this.i % 3 == 0){
                this.cols += 4;
            }

            this.i++;

        }
    }
}
</script>