<template>
    <div class="card" style="height: 270px;">
        <div class="font-weight-bold mx-auto title-text">{{item.title}}</div>
        <div class="chartDiv" :id="id"></div>
    </div>
</template>

<script>
import Plotly from "plotly.js-dist"

export default {
    name:"Chart",
    props:["item"],
    data: () => ({
        id: "chart" + parseInt(Math.random() * 100)
    }),
    mounted(){
        let type ="";
        let hole = 0;
        switch(this.item.type){
            case "Pie Chart":
                type = "pie";
                break;
            case "Donut Chart":
                type = "pie";
                hole = 0.3;
                break;
            case "Funnel":
                type = "funnelarea";
                break;
            case "Bar Chart":
                type = "bar";
                break;    
        }
        
        let values = [];
        if(this.item.entries.includes("5")){
            values = (this.item.data.map(v => v.value)).slice(0,5);
        }
        else values = this.item.data.map(v => v.value);

        let data = [{
            type: type,
            hole:hole,
            values: values,
            labels: this.item.data.map(v => v.label),
            x:  this.item.data.map(v => v.label),
            y:  this.item.data.map(v => v.value),
            showlegend: true
        }];

        let layout = {
            height:220,
            width: 400,
            font:{
                size: 7,
                family: 'Helvetica, sans-serif'
            },
            margin: {
                "t": 20, 
                "b": 0, 
                "r": 0,
                "l":0
            },
            
        }
        if(this.item.title == "Industry Allocation") {
            data[0].showlegend = false;
            layout.font.size = 10;
        }
        if(type == "bar") {
            layout.margin.b = 10;
            layout.font.size = 10;
            data[0].text = this.item.data.map(v => v.label);
        }
        Plotly.newPlot(this.id,data,layout);
    }
}
</script>

<style>
    .title-text{
        font-family:Helvetica, sans-serif !important;
    }
</style>